body {
    background-color: #2f2f2f;
    color:white;
}

h1 {
 margin-bottom:5px;
  color:#ffc000;
}

a {
    color:white;
}

.wrapper, html, body {
    height:100vh;
    margin:0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}
#header {
    height:auto;
}
#middle {
    flex:2;
    display: flex;
    border:solid thin #aaaaaa;
    background-color: #262626;
}
#footer {
    text-align: center;
    height:50px;
}
#sidebar {
    display:flex;
    flex-direction: column;
    flex :0 0 280px;
}

#sidebar-top {
    border-bottom:solid thin #aaaaaa;
    padding: 10px;
}

#sidebar-middle {
    flex:1 1;
    padding: 10px;
}

#sidebar-footer {
  	text-align:right;
    padding: 10px;
}


#editor {
    display:flex;
    flex-direction: column;
    flex: 1 1;
}
#editor-header {
    height:30px;
    border-left:solid thin #aaaaaa;
}
#editor-middle {
    flex:2;
    display: flex;
    border:solid thin #aaaaaa;
    border-right-width: 0;
}

#editor-content {
    width:100%;
    height:calc(100vh - 193px);
}

#editor-footer {
    display:flex;
    border-left:solid thin #aaaaaa;
  	padding:10px;
}

#editor-footer-left {
    flex:1;
}

#editor-footer-right {
    flex:1;
    text-align: right;
}

.info-input {
    width:150px;
}

.align-right {
    text-align: right;
}

.section-title {
    color: #5f5f5f;
    font-size: 20;
    font-style: italic;
    font-weight: bolder;
    padding: 7px;
    padding-top: 0px;
    text-align: left;
}

.busy_indicator {
  	width:14px;
  	height:14px;
}

#busy_container {
  	display:none;
}

#log_status {
	display:inline;
}

.delete_button {
    background-color: #da0000; /* Green */
    border: solid thin black;
    color: white;
    padding: 0px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
	border-radius: 100%;
    margin-left:10px;
  	font-size:12px;
}

.new_button {
	margin:5px;
}
